h1 {
    color: #666;
    text-decoration: underline;
    font-size: 32px;
    text-align: center;
}

p {
    /*缩进*/
    text-indent: 2em;
    /*行高*/
    line-height: 180%;
    font-size: 14px;
}

p abbr {
    color: blue;
    font-weight: bold;
    font-size: 28px;
}

p em {
    background-color: #ddd;
    text-decoration: wavy;
}